In [1]:
from datetime import datetime
from dateutil import relativedelta

# get two dates
d1 = '14/8/2019'
d2 = '16/3/2022'

# convert string to date object
start_date = datetime.strptime(d1, "%d/%m/%Y")
end_date = datetime.strptime(d2, "%d/%m/%Y")

# Get the relativedelta between two dates
delta = relativedelta.relativedelta(end_date, start_date)
print('Years, Months, Days between two dates is')
print(delta.years, 'Years,', delta.months, 'months,', delta.days, 'days')

Years, Months, Days between two dates is
2 Years, 7 months, 2 days

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
cases=pd.read_csv('C:\\Users\\Administrator\\Project\\csv\\cases\\cases_2018_raw.csv')

In [73]:
def fn(dt1, dt2):
    start_date = datetime.strptime(dt1, "%Y-%m-%d")
    end_date = datetime.strptime(dt2, "%Y-%m-%d")
    delta = relativedelta.relativedelta(end_date, start_date)
    #time=str(delta.years)+'Yrs '+str(delta.months)+'Months '+str(delta.days)+'Days'
    return delta.years+delta.months/12+delta.days/365

In [76]:
# l=[]
# for i in range(len(cases)):
#     if(type(cases.loc[i, 'date_of_decision'])!=float):
#         l.append([cases.loc[i, 'date_of_filing'], cases.loc[i, 'date_of_decision']])

# for i in range(500):
#     print(fn(l[i][0], l[i][1]))

In [86]:
df = cases[cases['date_of_decision'].notna()]

In [88]:
df1 = df[['state_code','date_of_filing','date_of_decision']].copy()

In [92]:
df1['time_taken'] = df1.apply(lambda r : fn(r.date_of_filing, r.date_of_decision), axis=1)

In [93]:
df1

        state_code date_of_filing date_of_decision  time_taken
0                1     2018-01-01       2018-02-07    0.099772
1                1     2018-01-01       2018-02-01    0.083333
2                1     2018-01-01       2018-02-01    0.083333
3                1     2018-01-01       2018-02-01    0.083333
4                1     2018-01-01       2018-01-09    0.021918
...            ...            ...              ...         ...
999987           1     2018-10-23       2019-10-01    0.938584
999990           1     2018-10-24       2019-01-08    0.207763
999991           1     2018-10-24       2018-12-20    0.154566
999994           1     2018-10-25       2018-11-30    0.097032
999995           1     2018-10-25       2020-02-15    1.307534

[443913 rows x 4 columns]

In [95]:
fn('2018-01-01', '2018-02-07')

0.09977168949771689